.mi__boton{
    width: 100%;
    background-color: $ballblue;
    color: $white;
    border: none;
    padding: 1.125rem 0;
    font-family: $secondary-font;
    font-size: $medium;
    font-weight: $fw-regular;
}

.mi__boton-navbar{
    background-color: $ballblue;
    color: $white;
    border: none;
    padding: 10px 32px;
    font-family: $secondary-font;
    font-size: $medium;
    font-weight: $fw-regular;
}