.mi__boton-large{
    width: 100%;
    background-color: $ballblue;
    color: $white;
    border: none;
    padding: 1.125rem 0;
    font-family: $secondary-font;
    font-size: $medium;
    font-weight: $fw-regular;

        &:hover{
            background-color: $middleblue;
        }

        &:focus{
            background-color: $lavendergray;
        }
}

.mi__boton-regular{
    background-color: $ballblue;
    border: none;
    padding: 5px 22px;
    font-family: $secondary-font;
    font-size: $small;
    font-weight: $fw-regular;

    & a{
        color: $white;
    }

    &:hover{
        background-color: $middleblue;
        & a{
            color: $white;
        }
    }

    &:focus{
        background-color: $lavendergray;
    }
}