//Color scheme
$white: #fff;
$platinum: #E8E8E8;
$gray: #BABABA;

$darksalmon: #EE9480;
$melon: #FABAAE;
$palepink: #FADFDA;

$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1E4EB;

$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;

$raisingblack: #221D23;
$nickel: #726F73;
$silverchalice: #AEACAF;

// Font Family
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Font Weigth
$fw-regular: 400;
$fw-bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px; 
$large: 20px; 
$medium: 16px;
$small: 14px;
$x-small: 12px;