// .nav__menu-logo{
//   width: auto;
//   height: 40px;
// }

// .nav__menu{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .topnav {
//   background-color: red;
// }

// .topnav a {
//   color: $white;
//   padding: 35px 0;
//   text-decoration: none;
//   font-size: $small;
//   font-family: $secondary-font;
// }

// .topnav a:hover {
//   background-color: #ddd;
//   color: black;
// }

// // .topnav a.active {
// //   background-color: #4CAF50;
// //   color: white;
// // }

// .topnav .icon {
//   display: none;
// }

// @media screen and (max-width: 600px) {
//   .topnav a:not(:first-child) {display: none;}
//   .topnav a.icon {
//     // float: right;
//     display: block;
//     // background-color: yellow;
//   }

//   .topnav.responsive {position: relative;}
//   .topnav.responsive .icon {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   .topnav.responsive a {
//     float: none;
//     display: block;
//     text-align: left;
//     background-color: green;
//   }

// // NAV ESTRUCTURA
//   .nav__menu-desktop{
//     display: none;
//   }
// }

// //   MEDIA QUERY
// @media (min-width: 768px) {
//   .topnav a {
//     padding: 30px 0;
//   }

//   .nav__menu{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .nav__menu-mobile{
//     display: flex;
//     align-items: center;

//     a{
//       margin-right: 30px;
//     }
//   }

//   .nav__menu-desktop a{
//     margin-right: 30px;
//   }
  
//   }

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}